<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>NL AIC - Demo</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />
    <link rel="icon" href="<%= BASE_URL %>favicon-1-32x32.png" sizes="32x32">
    <link rel="icon" href="<%= BASE_URL %>favicon-1-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon-1-180x180.png">
    <meta name="msapplication-TileImage" content="<%= BASE_URL %>favicon-1-270x270.png">
</head>

<body>
    <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->

</body>

</html>