<template>
  <section class="section">
    <div class="container">
      <p class="has-text-centered">
        <img src="sparql.svg" />
      </p>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Local iSHARE Proxy</label>
        </div>
        <div class="field-body">
          <input
            type="text"
            style="width: 33%;"
            v-model="local_proxy"
            name="local_proxy"
          />
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Remote IDS Connector</label>
        </div>
        <div class="field-body">
          <input
            type="text"
            style="width: 33%;"
            v-model="remote_connector"
            name="remote_proxy"
          />
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Remote IDS Proxy</label>
        </div>
        <div class="field-body">
          <input
            style="width: 33%;"
            type="text"
            v-model="remote_proxy"
            name="remote_proxy"
          />
        </div>
      </div>
      <div class="tabs is-centered">
        <ul>
          <li
            v-bind:class="{ 'is-active': !manual_query }"
            v-on:click="manual_query = false"
          >
            <a>Simple query</a>
          </li>
          <li
            v-bind:class="{ 'is-active': manual_query }"
            v-on:click="manual_query = true"
          >
            <a>Manual query</a>
          </li>
        </ul>
      </div>
      <div v-if="!manual_query">
        
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label"> Exam date between</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  type="date"
                  v-model="exam_date_from_value"
                  name="exam_date_from"
                />
                  And
                <input
                  type="date"
                  v-model="exam_date_to_value"
                  name="exam_date_to"
                />
              </div>
              <button class="button is-primary" @click="defaultDates()">default dates</button>
              &nbsp;
              <button class="button is-primary" @click="exam_date_to_value = null; exam_date_from_value = null ">Empty dates</button>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label"> Protocol </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select v-model="protocol_value">
                    <option selected>All</option>
                    <option>ADNI2</option>
                    <option>ADNI3</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label"> Test </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select v-model="test_value">
                    <option selected>All</option>
                    <option>Detection</option>
                    <option>OneBack</option>
                    <option>Identification</option>
                    <option>OneCardLearning</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label"> Use reactiontime filter </label>
          </div>
          <div class="field-body">
            <div class="control"> 
               <div class="checkbox">
                <input
                      type="checkbox"
                      v-model="use_reactiontime_filter"
                      name="use_reactiontime_filter"
                    />
               </div>
            </div> 
          </div>
        </div>

        <div v-if="use_reactiontime_filter" class="field is-horizontal">
          <div class="field-label">
            <label class="label"> reactiontime between </label>
          </div>
          <div class="field-body">
            <div>
              <vue-numeric-input  v-model="min_reactiontime_value" :min="0" :max="10" :step="0.01"></vue-numeric-input>
              &nbsp;And&nbsp;
              <vue-numeric-input  v-model="max_reactiontime_value" :min="0" :max="10" :step="0.01"></vue-numeric-input>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label"> # records </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select v-model="limit_value">
                    <option selected>All</option>
                    <option>50</option>
                    <option>100</option>
                    <option>250</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div v-if="manual_query">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Dataset</label>
          </div>
          <div class="field-body">
            <input
              type="text"
              v-model="manual_dataset"
              name="manual_dataset"
            />
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Query</label>
          </div>
          <div class="field-body">
            <prism-editor
              :code="parameters.query"
              v-on:change="(value) => (parameters.query = value)"
              language="sparql"
            ></prism-editor>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
         
        </div>
        <div class="field">
          <div class="control">
            <button
              :disabled="started"
              class="button is-primary"
              v-on:click="sendQuery()"
            >
              Send Query
            </button>
          </div>
        </div>
      </div>

      <div v-if="raw_result" class="field is-horizontal">
        <div class="field-label"><label class="label">Raw Result</label></div>
        <div class="field-body">          
          <button class="button is-primary" @click="showRaw = !showRaw">Show/Hide</button>
          <p v-show="showRaw"> 
            <pre>{{ raw_result }}</pre> 
          </p>  
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label"><label class="label">Result</label></div>
        <div class="field-body">
             <DynamicTable :tableData="queryResult" class="result" />    
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
.prism-editor-wrapper {
  width: 100%;
}
</style>

<script>
import "prismjs";
import "prismjs/themes/prism.css";
import "prismjs/components/prism-turtle";
import "prismjs/components/prism-sparql";
import DynamicTable from "./DynamicTable.vue";
import VueNumericInput from 'vue-numeric-input';
import axios from "axios";
import PrismEditor from "vue-prism-editor";

export default {
  name: "SparqlService",
  components: {
    PrismEditor,
    VueNumericInput,
    DynamicTable
  },
  data() {
    return {
      showRaw: false,
      default_dataset: 'ADNI',
      manual_dataset: 'ADNI',
      remote_proxy: 'https://<hostname of remote ids proxy>',
      remote_connector: 'http://<deploymentname of service provider>:8080/router',
      local_proxy: 'https://<hostname of remote ishare proxy>',
      currentUrl: "",
      started: false,
      startedLogout: false,
      manual_query: false,
      protocol_value: "All",
      protocol_triple_start: "FILTER (?protocolCode = '",
      protocol_triple_end: "') . \n",
      test_value: "All",
      test_triple_start: "FILTER (?testCode = '",
      test_triple_end: "') . \n",
      exam_date_from_value: null,
      exam_date_from_triple_start:
        'FILTER ( xs:date(?examdate) >= xs:date("',
      exam_date_from_triple_end: '") ) . \n',
      exam_date_to_value: null,
      exam_date_to_triple_start:
        'FILTER ( xs:date(?examdate) <= xs:date("',
      exam_date_to_triple_end: '") ) . \n',

      use_reactiontime_filter:false,
      min_reactiontime_value:0,
      max_reactiontime_value:10,
      min_reactiontime_triple_start:
        'FILTER ( ?reactionTime > ',
      min_reactiontime_triple_end: '). \n',
      max_reactiontime_triple_start:
        'FILTER ( ?reactionTime < ',
      max_reactiontime_triple_end: '). \n',
      limit_value: "All",
      limit_triple_start:'\nLIMIT ',
      query_template_start: `prefix obo: <http://purl.obolibrary.org/obo/>
prefix nlaic: <http://nlaic.nl/>
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix xs: <http://www.w3.org/2001/XMLSchema#>

SELECT ?patientID ?sessionID ?protocolCode  ?examdate ?testCode ?reactionTime
WHERE 
{
  ?patient rdf:type obo:NCIT_C16960 .
  ?patient obo:NCIT_C164820 ?patientID.
  ?patient obo:NCIT_C67447 ?session.
  ?session obo:NCIT_C164820 ?sessionID.
  ?session obo:NCIT_C25164 ?examdate.
  ?session obo:NCIT_C42651 ?protocol.
  ?protocol obo:NCIT_164820 ?protocolCode.
  ?session obo:NCIT_C47891 ?test.
  ?test obo:NCIT_C25162 ?testCode.
  ?test nlaic:reactiontime ?reactionTime.
`,
      query_template_end: "}",
      queryResult: [],
      raw_result: null,
      parameters: {
        localproxy: this.local_proxy,
        format: 'JSON',
        provider: this.remote_connector ,
        proxy: this.remote_proxy ,
        dataset: 'ADNI',
        query: `DESCRIBE *
WHERE {
  ?s ?o ?p.
}
`,
      },
      api: axios.create({
        baseURL: typeof webpackHotUpdate !== "undefined"
          ? "http://localhost:8080/"
          :  "/",
        timeout: 30000,
      }),
    };
  },
  methods: {
    sendQuery: async function () {
        this.started = true;
        this.queryResult = []
        this.raw_result= {}
        if (!this.manual_query) {
          this.parameters.dataset = this.default_dataset;
          this.buildSparqlQuery();
        } else {
          this.parameters.dataset = this.manual_dataset;
        }
        this.parameters.provider = this.remote_connector;
        this.parameters.remoteproxy = this.remote_proxy;
        this.parameters.localproxy = this.local_proxy;
        try {
          const queryPost = await this.api.post("sparql", this.parameters);
          let tmpRawResult =  queryPost.data
          if (tmpRawResult.results.bindings) {
            let tmpResult = this.parseQueryRepsonse(tmpRawResult.results.bindings);
            // Add tmp result to final result
            this.queryResult = this.queryResult.concat(tmpResult);
            console.log(this.queryResult);
            console.log(this.raw_result);
          }
        } catch (e) {
          console.log(e)
        }

        if (this.queryResult.length == 0)
            this.raw_result = null;
            this.started = false;
    },
    parseQueryRepsonse: function(results) {
      if (Object.keys(results).length == 0) {
          return [];
      }
      // One result
      if (!Array.isArray(results)) {
        results = [results];
      }
      let resultJSON = []
      results.forEach((queryResult) => {
        let row = {}
        Object.keys(queryResult).map(prop => {
          row[prop] = queryResult[prop].value
        });
        resultJSON.push(row)
      });
      return resultJSON;
    },
    buildSparqlQuery: function () {
      let query = this.query_template_start;
      if (this.protocol_value != "All") {
        query =
          query +
          this.protocol_triple_start + 
          this.protocol_value +
          this.protocol_triple_end;
      }
      if (this.test_value != "All") {
        query =
          query +
          this.test_triple_start +
          this.test_value + 
          this.test_triple_end;
      }
      if (this.exam_date_from_value && this.exam_date_to_value) {
        query =
          query +
          this.exam_date_from_triple_start +
          this.exam_date_from_value +
          this.exam_date_from_triple_end +
          this.exam_date_to_triple_start +
          this.exam_date_to_value +
          this.exam_date_to_triple_end;
      }
      if (this.use_reactiontime_filter) {
        query =
          query +
          this.min_reactiontime_triple_start +
          this.min_reactiontime_value +
          this.min_reactiontime_triple_end +
          this.max_reactiontime_triple_start +
          this.max_reactiontime_value +
          this.max_reactiontime_triple_end;
      }
      query = query + this.query_template_end;
      if (this.limit_value != "All") {
        query =
          query +
          this.limit_triple_start +
          this.limit_value;
      }
      this.parameters.query = query;
    },
    defaultDates: function () {
      let myDate = new Date(); 
      this.exam_date_to_value = ((myDate.getFullYear()) + '-' + (("0" + (myDate.getMonth() + 1)).slice(-2)) + '-' + (("0" + (myDate.getDate())).slice(-2)));
      this.exam_date_from_value = ((myDate.getFullYear() - 5) + '-' + (("0" + (myDate.getMonth() + 1)).slice(-2)) + '-' +  (("0" + (myDate.getDate())).slice(-2)));
    }
  },
  created: function() {
    this.defaultDates();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
