<template>
  <div id="app">
    <section class="hero is-bold is-info">
      <div class="hero-body">
        <div class="container">
          <img class="logo" src="@/assets/tno-logo.png" />
          <h1 class="title">NL AI Coalitie - ia2ai.nl</h1>
          <h2 class="subtitle">Sparql Connector</h2>
        </div>
      </div>
    </section>
    <SparqlService class="pt-5" />
    <footer class="footer">
      <div class="content has-text-centered has-text-white">
        <div class="nlaic-logo">
          <img src="@/assets/nlaic-logo.svg" />
        </div>
        <p>© 2020 Nederlandse AI Coalitie</p>
        <div class="tno-logo">
          <img src="@/assets/tno-logo.png" />
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import SparqlService from "./components/SparqlService.vue";

export default {
  name: "App",
  components: {
    SparqlService
  }
};
</script>

<style lang="scss">
@import "~bulma/bulma";
@import "~bulma-checkradio";
html {
  background-color: #222222;
}

#app {
  > .tabs,
  > .section {
    background-color: #ffffff;
  }
}

.hero-body {
  .container {
    .logo {
      max-width: 75%;
      max-height: 100px;
      @include desktop {
        float: right;
        height: 160px;
        max-height: 160px;
        margin: -48px 0;
        padding: 10px;
      }
    }
  }
}

.footer {
  background-color: #222222;
  position: relative;
  z-index: 20;
  > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    > * {
      margin-bottom: 3rem;
      width: 100%;
    }
    > .nlaic-logo {
      img {
        max-height: 130px;
      }
      @include from($desktop) {
        padding-right: 5em;
      }
    }
    > .tno-logo {
      img {
        max-height: 150px;
      }
      @include from($desktop) {
        padding-left: 5em;
      }
    }
    @include from($desktop) {
      flex-wrap: nowrap;
      > * {
        margin-bottom: 0rem;
      }
    }
  }
}
</style>